*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body{
    background-color: #f6f8f9;
}

/* header */
header{
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 40px;
}

header .inline-align{
    display: inline;
    vertical-align: middle;
}

h1{
    text-shadow: 2px 0;
    letter-spacing: 2px;
}

/* navigation bar */
nav{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav div{
    display: inline;
    font-size: 12px;
    padding: 5px;
    min-height: 80px;
    border-radius: 5px;
    margin-bottom: 5px;
}

nav #add-task{
    background-color: #47adf1;
    border: solid 2px #47adf1;
    color: white    ;
}

nav #add-section{
    border: solid 2px #ced3d7;
    color: #ced3d7;

}

/* divider nav/main */
div#divider{
    height: 2px;
}

/* main */
main{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li.inline-block-align{
    list-style: none;
    margin: 15px 5px;
}

li.inline-block-align div{
    display: inline-block;
    vertical-align: middle;
}

li .task{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    margin-right: 10px;
}

li .task.done{
    border: solid 1px #62bfa8;
    color: #62bfa8;
}

li .task.fail{
    border: solid 1px #e8443d;
    color: #e8443d;
}

li .task-label{
    font-size: 10px;
    color: white;
    padding: 7px;
    border-radius: 10px;

}

/* label palette */


.editorial-label{
    background-color: #45abea;
}

.q1-goals-label{
    background-color: #9c72e4;
}

.recruiting-label{
    background-color: #64c0a9;
}

.mobile-label{
    background-color: #f29e33;
}

.website-label{
    background-color: #d863a1;
}

.sales-label{
    background-color: #b0c926;
}
